USE [TestDB]
GO
/****** Object:  Table [dbo].[NBA_game]    Script Date: 3/1/2020 3:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_game](
	[gameID] [varchar](50) NOT NULL,
	[homeTeamID] [varchar](50) NULL,
	[awayTeamID] [varchar](50) NULL,
	[seasonID] [varchar](10) NULL,
	[gameDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NBA_game_play_by_play]    Script Date: 3/1/2020 3:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_game_play_by_play](
	[GAME_ID] [varchar](50) NOT NULL,
	[EVENTNUM] [int] NOT NULL,
	[EVENTMSGTYPE] [int] NOT NULL,
	[EVENTMSGACTIONTYPE] [int] NOT NULL,
	[PERIOD] [int] NOT NULL,
	[TIME] [varchar](25) NOT NULL,
	[HOMEDESCRIPTION] [varchar](1000) NULL,
	[NEUTRALDESCRIPTION] [varchar](1000) NULL,
	[VISITORDESCRIPTION] [varchar](1000) NULL,
	[SCORE] [varchar](25) NULL,
	[SCOREMARGIN] [int] NULL,
	[PERSON1TYPE] [int] NULL,
	[PLAYER1_ID] [varchar](25) NULL,
	[PLAYER1_NAME] [varchar](255) NULL,
	[PLAYER1_TEAM_ID] [varchar](50) NULL,
	[PLAYER1_TEAM_CITY] [varchar](255) NULL,
	[PLAYER1_TEAM_NICKNAME] [varchar](255) NULL,
	[PLAYER1_TEAM_ABBREVIATION] [varchar](5) NULL,
	[PERSON2TYPE] [int] NULL,
	[PLAYER2_ID] [nchar](10) NULL,
	[PLAYER2_NAME] [varchar](255) NULL,
	[PLAYER2_TEAM_ID] [varchar](50) NULL,
	[PLAYER2_TEAM_CITY] [varchar](255) NULL,
	[PLAYER2_TEAM_NICKNAME] [varchar](255) NULL,
	[PLAYER2_TEAM_ABBREVIATION] [varchar](5) NULL,
	[PERSON3TYPE] [int] NULL,
	[PLAYER3_ID] [varchar](25) NULL,
	[PLAYER3_NAME] [varchar](255) NULL,
	[PLAYER3_TEAM_ID] [varchar](50) NULL,
	[PLAYER3_TEAM_CITY] [varchar](255) NULL,
	[PLAYER3_TEAM_NICKNAME] [varchar](255) NULL,
	[PLAYER3_TEAM_ABBREVIATION] [varchar](5) NULL,
	[VIDEO_AVAILABLE_FLAG] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NBA_player]    Script Date: 3/1/2020 3:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_player](
	[playerID] [varchar](25) NOT NULL,
	[playerFullName] [varchar](255) NOT NULL,
	[playerFirstName] [varchar](100) NOT NULL,
	[playerLastName] [varchar](100) NOT NULL,
	[playerIsActive] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NBA_Team]    Script Date: 3/1/2020 3:59:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_Team](
	[TeamFullName] [varchar](300) NOT NULL,
	[TeamCity] [varchar](100) NOT NULL,
	[TeamNickname] [varchar](100) NOT NULL,
	[TeamAbbreviation] [varchar](5) NOT NULL,
	[TeamID] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[NBA_game] ([gameID], [homeTeamID], [awayTeamID], [seasonID], [gameDate]) VALUES (N'0021900867', N'1610612737', N'1610612753', N'22019', CAST(N'2020-02-26T00:00:00.000' AS DateTime))
INSERT [dbo].[NBA_game] ([gameID], [homeTeamID], [awayTeamID], [seasonID], [gameDate]) VALUES (N'0021900864', N'1610612766', N'1610612752', N'22019', CAST(N'2020-02-26T00:00:00.000' AS DateTime))
INSERT [dbo].[NBA_game] ([gameID], [homeTeamID], [awayTeamID], [seasonID], [gameDate]) VALUES (N'0021900865', N'1610612739', N'1610612755', N'22019', CAST(N'2020-02-26T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[NBA_Team] ([TeamFullName], [TeamCity], [TeamNickname], [TeamAbbreviation], [TeamID]) VALUES (N'Atlanta Hawks', N'Atlanta', N'Hawks', N'ATL', N'1610612737')
INSERT [dbo].[NBA_Team] ([TeamFullName], [TeamCity], [TeamNickname], [TeamAbbreviation], [TeamID]) VALUES (N'Boston Celtics', N'Boston', N'Celtics', N'BOS', N'1610612738')
INSERT [dbo].[NBA_Team] ([TeamFullName], [TeamCity], [TeamNickname], [TeamAbbreviation], [TeamID]) VALUES (N'Cleveland Cavaliers', N'Cleveland', N'Cavaliers', N'CLE', N'1610612739')
