USE [master]
GO
/****** Object:  Database [NBADB]    Script Date: 9/11/2020 1:08:53 AM ******/
CREATE DATABASE [NBADB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestDB.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestDB_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NBADB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NBADB]
GO
/****** Object:  Table [dbo].[NBA_game]    Script Date: 9/11/2020 1:08:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_game](
	[gameID] [varchar](50) NOT NULL,
	[homeTeamID] [varchar](50) NULL,
	[awayTeamID] [varchar](50) NULL,
	[seasonID] [varchar](10) NULL,
	[gameDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NBA_game_play_by_play]    Script Date: 9/11/2020 1:08:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_game_play_by_play](
	[GAME_ID] [varchar](50) NOT NULL,
	[EVENTNUM] [decimal](18, 0) NOT NULL,
	[EVENTMSGTYPE] [decimal](18, 0) NOT NULL,
	[EVENTMSGACTIONTYPE] [decimal](18, 0) NOT NULL,
	[PERIOD] [decimal](18, 0) NOT NULL,
	[WCTIMESTRING] [varchar](25) NOT NULL,
	[PCTIMESTRING] [varchar](25) NOT NULL,
	[HOMEDESCRIPTION] [varchar](1000) NULL,
	[NEUTRALDESCRIPTION] [varchar](1000) NULL,
	[VISITORDESCRIPTION] [varchar](1000) NULL,
	[SCORE] [varchar](25) NULL,
	[SCOREMARGIN] [varchar](10) NULL,
	[PERSON1TYPE] [decimal](18, 0) NULL,
	[PLAYER1_ID] [varchar](25) NULL,
	[PLAYER1_NAME] [varchar](255) NULL,
	[PLAYER1_TEAM_ID] [varchar](50) NULL,
	[PLAYER1_TEAM_CITY] [varchar](255) NULL,
	[PLAYER1_TEAM_NICKNAME] [varchar](255) NULL,
	[PLAYER1_TEAM_ABBREVIATION] [varchar](5) NULL,
	[PERSON2TYPE] [decimal](18, 0) NULL,
	[PLAYER2_ID] [nchar](10) NULL,
	[PLAYER2_NAME] [varchar](255) NULL,
	[PLAYER2_TEAM_ID] [varchar](50) NULL,
	[PLAYER2_TEAM_CITY] [varchar](255) NULL,
	[PLAYER2_TEAM_NICKNAME] [varchar](255) NULL,
	[PLAYER2_TEAM_ABBREVIATION] [varchar](5) NULL,
	[PERSON3TYPE] [decimal](18, 0) NULL,
	[PLAYER3_ID] [varchar](25) NULL,
	[PLAYER3_NAME] [varchar](255) NULL,
	[PLAYER3_TEAM_ID] [varchar](50) NULL,
	[PLAYER3_TEAM_CITY] [varchar](255) NULL,
	[PLAYER3_TEAM_NICKNAME] [varchar](255) NULL,
	[PLAYER3_TEAM_ABBREVIATION] [varchar](5) NULL,
	[VIDEO_AVAILABLE_FLAG] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NBA_JumpBall]    Script Date: 9/11/2020 1:08:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_JumpBall](
	[gameID] [varchar](50) NULL,
	[eventNum] [decimal](18, 0) NULL,
	[player1ID] [varchar](50) NULL,
	[player2ID] [varchar](50) NULL,
	[winnerID] [varchar](50) NULL,
	[loserID] [varchar](50) NULL,
	[wasViolation] [bit] NULL,
	[wasOpeningTip] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NBA_player]    Script Date: 9/11/2020 1:08:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_player](
	[playerID] [varchar](25) NOT NULL,
	[playerFullName] [varchar](255) NOT NULL,
	[playerFirstName] [varchar](100) NULL,
	[playerLastName] [varchar](100) NULL,
	[playerIsActive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NBA_player_team]    Script Date: 9/11/2020 1:08:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_player_team](
	[playerID] [varchar](25) NOT NULL,
	[teamID] [varchar](50) NOT NULL,
	[newTeamDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NBA_Team]    Script Date: 9/11/2020 1:08:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NBA_Team](
	[TeamFullName] [varchar](300) NOT NULL,
	[TeamCity] [varchar](100) NOT NULL,
	[TeamNickname] [varchar](100) NOT NULL,
	[TeamAbbreviation] [varchar](5) NOT NULL,
	[TeamID] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
